footer{
    font: var(--font-family: "Poppins", sans-serif;);
    display: flex;
    padding-block:24px;
    gap:24px;
   
}
footer span:nth-child(1){
    
    margin-right: auto;
    justify-content:space-between;
    
}

